.person-card {
  display: flex;
  align-items: center;

  &__photo {
    flex: 0 0 80px;
    margin-right: 20px;
    border-radius: 100%;
    overflow: hidden;
  }

  &__info {
    flex: auto;
  }

  &__name {
    margin-bottom: 5px;
    font-family: Bold;
  }

  &__phone {

  }
}
