button {
  outline: none;
  -webkit-appearance: button;

  &:focus {
    outline: none;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 11px 30px;
  background-color: #041248;
  border: 1px solid transparent;
  border-radius: 5px;
  font-family: Medium;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  line-height: 24px;
  transition: all 0.3s;
  text-align: center;

  @include min-screen(nth($res-collection, 4)*1px) {
    &:hover {
      background-color: #061D73;
      color: #fff;
    }
  }

  &-border {
    background-color: #fff;
    border: 1px solid #041248;
    color: #041248;

    @include min-screen(nth($res-collection, 4)*1px) {
      &:hover {
        background-color: #F2F5FF;
        color: #041248;
      }
    }
  }

  &-link {
    background-color: transparent;
    padding-right: 10px;
    padding-left: 10px;
    color: #041248;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      color: #041248;
    }
  }

  &.disabled,
  &.disabled-active,
  &:disabled {
    opacity: 0.5;
  }

  &.disabled,
  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  &-block {
    width: 100%;
  }
}
