.msg {
  padding: 15px 20px;
  border-radius: 10px;
  font-family: Regular;

  @include max-screen(nth($res-collection, 4)*1px) {
    padding: 10px;
  }

  &-error {
    background-color: #FFF3F3;
    color: $color-error;
  }

  &-success {
    background-color: rgba(76, 175, 80, 0.11);
    color: #4caf50;
  }

  &-warning {
    background-color: #fff3cd;
    color: #856404;
  }

  &-info {
    background-color: #F2F5FF;
  }
}
