@font-face {
  font-family: 'Regular';
  src: local('TT Firs Neue Trial Regular'),
       url('#{$font-path}/TT Firs Neue Trial Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Medium';
  src: local('TT Firs Neue Trial Medium'),
  url('#{$font-path}/TT Firs Neue Trial Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Bold';
  src: local('TT Firs Neue Trial Bold'),
  url('#{$font-path}/TT Firs Neue Trial Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'DemiBold';
  src: local('TT Firs Neue Trial Bold'),
  url('#{$font-path}/TT Firs Neue Trial DemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
