a,
.link {
  color: #041248;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;

  &-dashed {
    border-bottom: 1px dashed $color-base;

    &:hover {
      border-bottom: none;
    }
  }

  &:focus {
    outline: none;
  }
}
