a,
.link {
  color: #12477a;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;

  @include min-screen(nth($res-collection, 4)*1px) {
    &:hover {
      color: #000;
    }
  }

  &:focus {
    outline: none;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.link-underline {
  color: #12477a;
  text-decoration: underline;
  cursor: pointer;

  @include min-screen(nth($res-collection, 4)*1px) {
    &:hover {
      color: #12477a;
      text-decoration: none;
    }
  }
}
