.text-sm { font-size: 12px; }

// Text alignment
.text-nowrap { white-space: nowrap; }
.text-break {
  word-break: break-word;
  overflow-wrap: break-word;
}
.text-center { text-align: center; }
.text-right { text-align: right; }

.ellipsis-h {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Text transformation
.text-lowercase  { text-transform: lowercase; }
.text-uppercase  { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }

// Font weight and italics
.font-weight-normal  { font-weight: normal; }
.font-weight-bold    { font-weight: 600; }
.font-italic         { font-style: italic; }

// Text color
.text-danger { color: #a94442; }

small, .small {
  font-size: 80%;
  font-weight: 400;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
