.text-md { font-size: 20px; }

// Text alignment
.text-nowrap { white-space: nowrap; }
.text-break {
  word-break: break-word;
  overflow-wrap: break-word;
}
.text-center { text-align: center; }
.text-right { text-align: right; }

.ellipsis-h {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Text transformation
.text-lowercase  { text-transform: lowercase; }
.text-uppercase  { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }

// Font weight and italics
.font-weight-normal  { font-weight: normal; }
.font-weight-md    { font-family: Medium; }
.font-weight-bold    { font-weight: 600; }
.font-italic         { font-style: italic; }

.cursor-pointer { cursor: pointer; }
