.home-statistics {
  display: flex;
  flex-flow: row wrap;
  margin: 40px -15px 0;

  &__item {
    width: calc(50% - 30px);
    margin: 0 15px 30px;
    padding: 50px 30px 30px;
    background-color: #FCFDFF;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
  }

  &__count {
    font-family: DemiBold;
    font-size: 56px;
    color: #041248;
    margin-bottom: 25px;
  }
}
