.consultant-single-nav {
  padding: 0;
  list-style: none;
  margin: 0;

  &__wrap {
    position: sticky;
    top: 10px;
  }

  &__list {
    margin-bottom: 1px;
  }

  &__item {
    display: block;
    padding: 15px 15px;
    border-radius: 5px;
    color: #000;

    &:hover,
    &.active {
      color: #041248;
      background-color: #F2F5FF;
    }
  }
}
